{% extends 'base.html.twig' %}

{% block title %}Добавление лота{% endblock %}

{% block body %}
    <section id="subintro">
        <div class="jumbotron subhead" id="overview">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <div class="centered">
                            <h3>Добавление лота</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="breadcrumb">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <ul class="breadcrumb notop">
                        <li><a href="{{ path('index') }}">Главная</a><span class="divider">/</span></li>
                        <li><a href="{{ path('trading') }}">Торги</a><span class="divider">/</span></li>
                        <li class="active">Добавление лота</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section id="maincontent">
        <div class="container">
            <div class="row">
                <div class="span6">
                    {{ form_start(lotForm) }}
                    {{ form_row(lotForm.title) }}
                    {{ form_row(lotForm.description) }}
                    {{ form_row(lotForm.quantity) }}
                    {{ form_row(lotForm.measure) }}
                    {{ form_row(lotForm.start_price) }}
                    {{ form_row(lotForm.currency) }}
                    {{ form_row(lotForm.type) }}
                    {{ form_row(lotForm.subcategory) }}

                    <button type="submit" class="btn btn-color spacer30">Добавить лот</button>
                    {{ form_end(lotForm) }}
                </div>
                <div class="span6">

                </div>
            </div>
        </div>
    </section>
{% endblock %}
